<a href="https://colab.research.google.com/github/dixongough/Advancedprogramming/blob/main/Week_1_Activities_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
while True:
  try: 
    num = int(input("enter a number: "))
    break

  except: print("please enter an integer only")

print(f"The even multiplication table for {num} is:")

for i in range(2,21):
  if (i*num) % 2 == 0:
    print(f" {i:>8} times {num} is {i*num}")

In [ ]:
#right sided triangle
n=10
for i in range(1,n+1):
  print((" " * (n-i)), ("*" * i) )

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [ ]:
#diamond
n = 10
for i in range(n):
    print(" " * (n-i), "*" * (i*2+1))
for i in range(n-2, -1, -1):
    print(" " * (n-i) , "*" * (i*2+1))

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
   *****************
    ***************
     *************
      ***********
       *********
        *******
         *****
          ***
           *

In [ ]:
def diamond(n, symb):
  for i in range(n):
    print(" " * (n-i), symb * (i*2+1))
  for i in range(n-2, -1, -1):
    print(" " * (n-i) , symb * (i*2+1))

def right(n,symb):
  for i in range(1,n+1):
    print((" " * (n-i)), (symb * i) )

shape = input("enter d for diamond or r for right side: ")
symbol = str(input("enter symbol: "))
size = int(input("enter size: "))

if shape == 'd':
  diamond(size,symbol)

elif shape == 'r':
  right(size,symbol)

else:
  print("wrong letter entered")

enter d for diamond or r for right side: r
enter symbol: t
enter size: 5
     t
    tt
   ttt
  tttt
 ttttt

In [ ]:
while True:
    days = int(input("enter days of the month: "))
    firstDay = int(input("enter first day of month (1-7): "))

    if days < 32 and days > 27 and firstDay < 8 and n_firstDay > 0:
      break
    else:
      print("error, please try again")

print("   M   T   W  Th   F   S  Su")

j = 2 - firstDay
for i in range(6):
  for k in range(7):
    if j < 1 or j > days:
      day = " " 
    else: 
      day = j
      
    print(f" {day:>3}", end ="")
    j +=1

  print()

enter days of the month: 54
enter first day of month (1-7): 8
error, please try again
enter days of the month: 67
enter first day of month (1-7): 3
error, please try again

In [ ]:
#Stack
stack = [7,1,3,5,0,6]
def push():
  num = int(input("type number to add: "))
  stack.append(num)
  print(stack)

def pop():
  stack.pop()
  print(stack)

while True:
  action = int(input(""" Select the following options by typing the number: \n
                    1. Push \n
                    2. Pop \n
                    3. View \n
                    4. exit 
                    """))
  
  if action == 1:
    push()

  elif action == 2:
    pop()

  elif action == 3:
    print(stack)

  elif action == 4:
    break

  else:
    print("error")

In [ ]:
#queue

queue = [4,8,2]
def push():
  num = int(input("type number to add: "))
  queue.append(num)
  print(queue)

def pop():
  queue.pop(0)
  print(queue)

while True:
  action = int(input(""" Select the following options by typing the number: \n
                    1. Push \n
                    2. Pop \n
                    3. View \n
                    4. exit 
                    """))
  
  if action == 1:
    push()

  elif action == 2:
    pop()

  elif action == 3:
    print(queue)

  elif action == 4:
    break

  else:
    print("error")

In [ ]:
#exercise 2

data = [[390,345,379],[250,270,300],[460,480,450],[470,510,360]]
months =[[],[],[]]
print("Quarterly sales report")
i = 0
for outlet in data:
  print(f"average outlet: {sum(outlet)/3:.2f}  total: {sum(outlet)}")
  for i in range(3):
    months[i].append(outlet[i])
total = 0
for month in months:
  total += sum(month)
  print(f"average monthly: {sum(month)/4}  total {sum(month)}")

print(f"grand total: {total}")

Quarterly sales report
average outlet: 371.33  total: 1114
average outlet: 273.33  total: 820
average outlet: 463.33  total: 1390
average outlet: 446.67  total: 1340
average monthly: 392.5  total 1570
average monthly: 401.25  total 1605
average monthly: 372.25  total 1489
grand total: 4664

In [ ]:
#Functions ex 1

sentence = input("type sentence: ")
letters = {'A':0,'U':0,'I':0,'E':0,'O':0, 'others':0}
sentence = sentence.replace(" ","")
sent2list = list((sentence.upper()))
for char in sent2list:
  try:
    letters[char] = letters[char] + 1
  except:
    letters['others'] = letters['others'] + 1

for k, v in letters.items():
  print(f"{k}: {'*' * v} ")

print(f"Other (non-space) Characters: {letters['others']}")

type sentence: The black cat sat up on the orange mat!
A: *****
U: *
I:
E: ***
O: **
others: ********************
Other (non-space) Characters: 20

In [ ]:
#functions ex 2

word1 = list(input("enter word 1: "))
word2 = list(input("enter word 2: "))

string1 = set(word1)
string2 = set(word2)
def isAnagram(string1, string2):
  if len(string1.difference(string2)) == 0:
    return True
  else:
    return False

if isAnagram(string1,string2):
  print("these are anagrams")

else:
  print("they are not")

enter word 1: hello
enter word 2: ollhe
these are anagrams

In [ ]:
#function ex 3

stack = [3,66]
def stack_queue(i):
  def push():
    num = int(input("type number to add: "))
    stack.append(num)
    print(stack)

  def pop(i):
    stack.pop(i)
    print(stack)

  while True:
    action = int(input(""" Select the following options by typing the number: \n
                      1. Push \n
                      2. Pop \n
                      3. View \n
                      4. exit 
                      """))
    
    if action == 1:
      push()

    elif action == 2:
      pop(i)

    elif action == 3:
      print(stack)

    elif action == 4:
      break

    else:
      print("error")

option = input("s for stack, q for queue")

if option == "s":
  stack_queue(-1)
if option == "q":
  stack_queue(0)